@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif !important;
}

img.logo {
    max-width: 100px;
}

.ftco-navbar-light .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    color: #FF2057;
}

.navbar-brand:before {
    background: #070C10;
}

.ftco-footer {
    padding-bottom: 0;
    padding-top: 30px;
    text-align: center;
}

.ftco-navbar-light.scrolled {
    margin-top: 0;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
}

.mycontainer {
    margin-top: 11em;
    padding-bottom: 2em;
}

.mycontainer > .row {
    min-height: 540px;
}

.mycontainer.auth {
    padding-top: 2em;
}

.mycontainer-second {
    padding-top: 12em;
    padding-bottom: 2em;
}

.defaultcase {
    text-transform: none !important;
}

.auto-height {
    height: auto !important;
}

.auto-height .overlay {
    /*height: 150%;*/
}

.title {
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    padding-top: 1em;
}

.overlay {
    display: none;
}


/*
 *  Flex Layout Specifics
 *  Tournament CSS
*/
main {
    display: flex;
    flex-direction: row;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
}

.round .spacer {
    flex-grow: 1;
}

.round .spacer:first-child,
.round .spacer:last-child {
    flex-grow: .5;
}

.round .game-spacer {
    flex-grow: 1;
}

/*
 *  General Styles
*/
body {
    font-family: sans-serif;
    font-size: small;
    line-height: 1.4em;
}

li.game {
    padding-left: 20px;
}

li.game.winner {
    font-weight: bold;
}

li.game span {
    float: right;
    margin-right: 5px;
}

li.game-top {
    border-bottom: 1px solid #aaa;
}

li.game-spacer {
    border-right: 1px solid #aaa;
    min-height: 40px;
}

li.game-bottom {
    border-top: 1px solid #aaa;
}

#tournament li {
    border-color: #6B747D;
    border-width: 2px;
}

#tournament li {
    color: white !important;
    text-transform: capitalize;
}

.hero-wrap .overlay {
    opacity: 0.1 !important;
}

.club-name {
    float: left !important;
    background: white;
    color: #FF1E58;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    min-width: 150px;
}

.club16 .round {
    width: 240px;
}

#tournament li {
    padding-left: 0;
}

.score {
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    color: black;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #FF2057;
}

.result-page {
    min-height: 708px;
}

.title2 {
    color: black;
    font-weight: 500;
    padding-top: 1em;
}

/*.round .spacer:first-child, .round .spacer:last-child {*/
/*    flex-grow: .7;*/
/*}*/

/*.round .spacer {*/
/*    flex-grow: 1.3;*/
/*}*/

li.game-spacer {
    min-height: 60px;
}

.game.game-top .club-name {
    position: relative;
    top: 20px;
}

.game.game-bottom .club-name {
    position: relative;
    top: -20px;
}

.result-form input,
.result-form span {
    display: inline-block;
}

.result-form input.score {
    width: 25px;
    text-align: center;
}

.result-form {
    padding-left: 25px;
}

.title3 {
    color: #999999;
}

.result-form label {
    color: black;
    min-width: 65px;
    font-size: 20px;
    padding: 0 10px;
    padding-left: 0;
}

.result-form {
    margin-bottom: 15px;
    width: max-content;
}

.result-form .matchnr {
    display: block;
    text-align: center;
}

.send-result-btn {
    /*height: 18px;*/
}

.result-inside-holder {
    position: relative;
    top: 8px;
}

.champ-title {
    color: #FF2057;
}

.nonvisible * {
    opacity: 0;
}

.navbar-nav.whiteheader > .nav-item > .nav-link {
    color: white;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media (max-width: 1199.98px) {
    .ftco-navbar-light .container {
        background: #D5C476 !important
    }
}

@media (max-width: 992px) {
    .ftco-navbar-light .navbar-nav {
        margin-top: 20px;
    }
}

.ftco-navbar-light .container {
    width: 1400px;
}

.my-custom-text {
    font-size: 14px;
    color: #011425 !important;
    line-height: 2;
}
.my-custom-text-white {
    font-size: 18px;
    color: white;
    line-height: 2;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.round .spacer {
    flex-grow: 1.4;
}

.round .game-spacer {
    flex-grow: 2;
}

.eliminated {
    color: black;
    background: grey;
}

.winner-winner-winner .club-name {
    margin-left: 20px;
    top: 0 !important;
    color: white;
    background: #FF1E58;
}

.title {
    font-weight: normal !important;
}

.custom-input {
    /*height: 40px;*/
    padding: 5px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#champ_name.custom-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid grey;
}

.link:hover {
    color: #FF1E58 !important;
}

.result-page-container {
    min-width: 1600px;
}

.round {
    min-width: 240px;
}

.rules-subtitle {
    text-indent: 40px;
    display: block;
}

.rules-subtitle {
    display: block;
}

.important {
    color: red;
}

.rules-expl {
    padding-left: 80px;
}
a:hover{
    color:#207dff;
}